<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <Routing name="Routing">
            <Routes pattern="$${ctx:threadName}">
                <Route>
                    <File name="Rolling-${ctx:threadName}"
                                 fileName="target/logs/suite/${ctx:threadName}.log"
                                 append = "false">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
                        <TimeBasedTriggeringPolicy/>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info">
            <AppenderRef ref="Routing" />
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>